<%= form_for(sami) do |f| %>
  <% if sami.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sami.errors.count, "error") %> prohibited this sami from being saved:</h2>

      <ul>
      <% sami.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div class="field">
    <%= f.label :/home/samiksha %>
    <%= f.text_field :/home/samiksha %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
