<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @sami.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @sami.body %>
</p>

<p>
  <strong>/home/samiksha:</strong>
  <%= @sami./home/samiksha %>
</p>

<%= link_to 'Edit', edit_sami_path(@sami) %> |
<%= link_to 'Back', samis_path %>
